* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  border: 1px solid red;
}

#root > * {
  border: 2px solid black;
}

#picture-template {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#picture-template-img {
  width: 100%;
  height: 100%;
}

#form-template {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

#form-template > * {
  border: 1px solid black;
}

.form-template-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
}

.form-template-main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1em;
}
.form-template-main-header > * {
  margin: 0.2em 0em;
}

.form-template-main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 1em;
}
.form-template-main-form > input {
  background-color: transparent;
  border: 1px solid black;
  margin: 0.5em 0em;
  padding: 1em;
  border-radius: 10px;
  transition: border 0.4s;
  position: relative;
  z-index: 0;
}

.form-template-main-form > input:focus {
  outline: none;

  transition: border 0.4s;
}
.form-template-main-form > input:focus::placeholder {
  color: blue;
  transform: translateY(-15px);
  transition: all 0.5s;
  position: relative;
  z-index: 12;
}

.form-template-main-form > input::placeholder {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  font-style: italic;
  transition: transform 0.5s;
  opacity: 1;
}

.form-template-main-form-footer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-template-main-form-footer button {
  padding: 0.5em 1em;
  background-color: slateblue;
}

.form-template-main-footer {
  width: 80%;
}

@media only screen and (max-width: 400px) {
  .form-template-main {
    width: 90%;
  }
}

@media only screen and (min-width: 700px) {
  #picture-template {
    width: 70%;
    height: 100%;
    position: relative;
  }

  #form-template {
    width: 30%;
    height: 100%;
  }
  .form-template-main {
    width: 100%;
  }
  .form-template-main-header {
    justify-content: center;
    align-items: center;
    margin-left: 0em;
  }
}
